{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>OFFICIAL BLOG</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid_nav">
      <div class="navbar-header">
        <a class="navbar-brand">OFFICIAL BLOG</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/home/home_project">STORY 3_PROJECT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/home">STORY 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/ ">STORY 1</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <div class="container-fluid bg-1 text-center">
    <h1 class="blog_head_title">OFFICIAL BLOG</h1>
    <h3 class="blog_head_subtitle">Blog Resmi</h3>
  </div>
  {% block content %}
  {% endblock content %}
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Media Sosial</p>
    <a href="https://www.instagram.com/benitho_as"><img src="{% static 'img/Instagram_logo.png' %}" style="width:42px;height:42px;"></a>
    <a href="https://twitter.com/benitoss_"><img src="{% static 'img/Twitter_logo.png' %}" style="width:42px;height:42px;"></a>
  </footer>
</body>
</html>
