{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block content %}
<!-- IsiProfile -->
<div class="container-fluid bg-2 text-center">
  <img class="foto_profile" src="{% static 'img/Profile.jpg' %}">
  <h2 class="profile">PROFILE</h2>
  <p>Benitho Ahmad Suryo</p><br>
  <table>
      <tbody>
          <tr>
              <td class="info_name">Tempat/Tanggal Lahir</td>
              <td class="info_text">Tangerang/5 Juni 2001</td>
          </tr>
          <tr>
              <td class="info_name">NPM</td>
              <td class="info_text">1906353630</td>
          </tr>
          <tr>
              <td class="info_name">Fakultas</td>
              <td class="info_text">Ilmu Komputer</td>
          </tr>
          <tr>
              <td class="info_name">Tempat Kuliah</td>
              <td class="info_text">Universitas Indonesia</td>
          </tr>
          <tr>
              <td class="info_name">Hobi</td>
              <td class="info_text">J-Pop</td>
          </tr>
      </tbody>
  </table>
</div>
<!-- IsiProject -->
<div class="container-fluid bg-3 text-center">    
  <h2 class="Project">Project</h2><br>
  <div class="row">
      <p>Project 1</p>
      <a href="home_project/"><img src="{% static 'img/Project1.png' %}"></a>
  </div>
</div>
{% endblock content %}
