{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/main_2.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block content %}
<!-- Isi -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <img src="{% static 'img/Profile_circle.jpg' %}" class="img-circle"  width="190" height="190">
            <h4 style="color: #ffffff; padding-top: 50px; padding-bottom: 50px;">Benitho Ahmad Suryo</h4>
            <table>
                <tbody>
                    <tr>
                        <td class="info_name">NPM</td>
                        <td class="info_text">1906353630</td>
                    </tr>
                    <tr>
                        <td class="info_name">Fakultas</td>
                        <td class="info_text">Ilmu Komputer</td>
                    </tr>
                </tbody>
            </table>
            <a href="/home"><h4 style="color: #ffffff; padding-top: 50px; padding-bottom: 50px;">Profil Lengkap</h4></a>
        </div>
        <div class="col-sm-9 text-left isi_text">
            <h1 style="padding-bottom: 50px;">PROJECT TITLE</h1>
            <div class="row container-fluid text-center">
                <img src="{% static 'img/Project1.png' %}" style="width:240px;height:135px;">
            </div>
            <h3 style="padding-top: 50px;">CONTENT</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.</p>
        </div>
    </div>
</div>
{% endblock content %}