{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block content %}
  <body>
    <body>
      <h1>Ini story 1</h1>
      <img src="{% static 'img/Profile.jpg' %}" style="width:150px; height:200px;">
  
      <p> 
        Nama        : Benitho Ahmad Suryo<br>
        NPM         : 1906353630<br>
        Angkatan    : 2019<br>
        Hobi        : Ngidol<br>
        Universitas Indonesia Fakultas Ilmu Komputer Jurusan Sistem Informasi
      </p>
  
      <h3 style="font-family:verdana;"> About Me </h3>
      <p> Saya mahasiswa Fakultas Ilmu Komputer jurusan Sistem Informasi 2019</p>
  
      <h3 style="font-family:verdana;"> Riwayat Pendidikan</h3>
  
      <table>
          <tbody><tr>
              <th>Pendidikan</th>
              <th>Tahun</th> 
          </tr>
          <tr>
              <td>SDN 15 Tangerang</td>
              <td>2006 - 2012</td>
          </tr>
          <tr>
              <td>SMPN 1 Tangerang</td>
              <td>2012 - 2015</td>
          </tr>
          <tr>
              <td>SMAN CMBBS</td>
              <td>2015 - 2018</td>
          </tr>
          <tr>
              <td>Universitas Indonesia</td>
              <td>2019 - Sekarang</td>
          </tr>
      </tbody>
    </table>
    <a href="/home"><h1>Menuju Story 3</h1></a>
  </body>
{% endblock content %}

