/* Project-wide style */

p {
    font-size: 24px;
}
.bg-1 { 
    background-color: #FF5551; 
    color: #ffffff;
}
.bg-2 { 
    background-color: #FFE3D5;
    color: #000000;
}
.bg-2 .foto_profile{
    width:150px; 
    height:200px;
}

.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #fff;
}
table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    empty-cells: show;
    vertical-align: top;
    text-align: left;
}
.info_name{
    color: #FE8D4D;
    padding: 0 24px 10px 0;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.container-fluid_nav{
    padding-top: 1px;
    padding-bottom: 1px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

